# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore backend/.env and specific Docker-related files
# (these files should not be committed)
backend/.env

# Dockerfiles and dockerfile.txt patterns
Dockerfile
backend/Dockerfile
backend/db/Dockerfile
dockerfile.txt
backend/dockerfile.txt
backend/db/dockerfile.txt
